@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

.heading{
color: rgb(255, 115, 0);
font-family: 'Abril Fatface', cursive;
font-size: 48px;
letter-spacing: 3px;
margin: 2rem;
text-align: center;
}

.navlink{
    text-decoration: none;
    color: black;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 22px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

/* .header nav{
    position: sticky;
    top: -1px;
} */

.nav{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section1{
    width: 90%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
}

.dinner{
    width: 230px;
    height: 215px;
    border-radius: 5px;
    background-color: rgb(251, 206, 168);
    display: inline-block;
    position: relative;
}

h4 a{
    text-decoration: none;
    color: black;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin: 0.25rem 2.7rem;
    position: absolute;
    bottom: 14px;
}

.divider{
    margin: 3rem 0 1rem 0.5rem;
    width: 98vw;
    height: 3px;
    background-color: rgb(255, 115, 0);
}

a:hover{
    text-decoration: underline rgb(255, 115, 0);
}

h3{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 10px;
}

h3 + p{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    margin-top: 2px;
}

h5{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center; 
    margin-bottom:2px ;
}

.section2 p{
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    text-align: justify;
    margin: 0.5rem 2rem;
}

.section2{
    width: 80vw;
    border: 2px solid rgb(255, 115, 0);
    border-radius: 0.5rem;
    margin: auto;
    padding: 0.5rem;
    margin-top: 3rem;
}

/* @media (min-width: 0) and (max-width: 360px) {
    ul li{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768) and (max-width: 1024) {
    .section1{
        display: flex;
        flex-wrap: wrap;
    }
} */